/* body {
    background-image: url();
} */

body {
    margin: 0;
}

#bg {
    z-index: -100;
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

#game {
    display: flex;
    width: 100%;
    height: 60vh;
    justify-content: space-evenly;
    align-items: center;
}

h1 {
    font-family: 'Black Ops One', cursive;
    font-size: 50px;
    text-align: center;
    letter-spacing: 2vmin;
    margin: 0 auto;
    padding-top: 70px;
}

p {
    font-family: 'Special Elite', sans-serif;
}

.card {
    border: .1vmin solid lightcyan;
    background-color: floralwhite;
    width: 13vmin;
    height: 18vmin;
    background-size: contain;
    background-repeat: no-repeat;
    filter: drop-shadow(.1vmin .2vmin .2vmin grey);
}

.card-piles {
    display: flex;
    justify-content: space-evenly;
}

.expand {
    transform: scale(1.1);
    transition-timing-function: ease-in-out;
    transition-duration: .2s;
}

.war {
    position: absolute;
    background-color: crimson;
    width: 100%;
    height: 100%;
    opacity: .5;
}

.highlight {
    filter: drop-shadow(.1vmin .4vmin .5vmin red);
}

#computer-side {
    width: 30vw;
    height: 30vh;
    align-self: center;
}

#computer-side p {
    text-align: center;
}

#player-side {
    height: 30vh;
    width: 30vw;
    align-self: center;
}

#player-side p {
    text-align: center;
}

#war-and-draw {
    display: flex;
    flex-direction: column;
}

#c-war-zone {
    background-color: crimson;
    height: 30vh;
    width: 30vw;
    visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

#p-war-zone {
    background-color: crimson;
    height: 30vh;
    width: 30vw;
    visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

#draw-space {
    border: 2px dashed black;
    width: 30vw;
    height: 30vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 50px 0 30px 0;
}

.dealt-cards {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#cSpace {
    background-size: contain;
    background-repeat: no-repeat;
}

#pSpace {
    background-size: contain;
    background-repeat: no-repeat;
}

/* #FDF4DA beige
#F8D2CD pink
#F0F1F1 grey  */

/ / / / / / / Responsiveness: Under 800px @media only screen and (max-width: 800px) {
    h1 {
        display: none;
    }
    #game {
        flex-direction: column;
        justify-content: center;
        height: 100vh;
    }
    .card {
        width: 8vmin;
        height: 13vmin;
    }
    #computer-side {
        height: 20vh;
        padding-left: 8vmin;
    }
    #player-side {
        height: 20vh;
        padding-left: 8vmin;
    }
    #draw-space {
        height: 20vh;
        width: 100vw;
        padding: 50px 0 0 0;
    }
    #c-war-zone {
        height: 20vh;
        width: 100vw;
    }
    #p-war-zone {
        height: 20vh;
        width: 100vw;
    }
}

#modal-msg {
    background: black;
    width: 100vw;
    height: 100vh;
    z-index: 100;
    display: none;
    opacity: .9;
    position: absolute;
}

#msg {
    color: white;
    text-align: center;
    margin-top: 30vmin;
}

button {
    border: 1px dashed white;
    background-color: transparent;
    color: white;
    padding: 10px;
    display: block;
    margin: 20px auto;
}

/* --------------- I N D E X  2 --------------- */

body.img {
    width: 100% height: 100%;
    background-size: contain;
    background-repeat: no-repeat;
}