/* body {
    background-image: url();
} */

body {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    position: relative;
}

.deck-img, #cDeck, #pDeck, #cSpace, #pSpace, #pCollection, #cCollection {
    width: 13vmin;
    height: 18vmin;
    background-size: contain;
    background-repeat: no-repeat;
}

#pCollection, #cCollection {
    border: 1px solid blue;
}

.deck-img {
    position: absolute;
    top: 50%;
    left 50%;

}

#computer-side {
    height: 50%;
    width: 100%;
}


#war-and-draw {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 50%;
    margin-left: -150px;
}

#draw-space {
    background-color: aquamarine;
    width: 300px;
    height: 200px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}


#c-war-zone {
    background-color: crimson;
    height: 200px;
    width: 300px;
    display: flex;
    justify-content: space-evenly;
    visibility: hidden;
}

#p-war-zone {
    background-color: crimson;
    height: 200px;
    width: 300px;
    display: flex;
    justify-content: space-evenly;
    visibility: hidden;
}

#cSpace {
    background-color: white;
    background-size: contain;
    background-repeat: no-repeat;
}

#pSpace {
    background-color: aliceblue;
    background-size: contain;
    background-repeat: no-repeat;
}


#player-side {
    height: 50%;
    width: 100%;
    background-color: aliceblue;
    align-self: flex-end;
}


